<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FuseIT.G4S.SalesforceConnector" type="FuseIT.G4S.SalesforceConnector.SalesforceSettingsSection, FuseIT.G4S.SalesforceConnector"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
 
  <FuseIT.G4S.SalesforceConnector>
    <!--
      timeOutMilliseconds:
        Indicates the time an XML Web service client waits for a synchronous XML Web service
        request to complete (in milliseconds).
      
      clientId:
        Partner application API token (Case sensitive). Required to work with Professional Edition orgs.
      
      uploadBatchSize:
        The maximum number of records that can be sent to Salesforce in an upload operation.
        This limit is defined by Salesforce.
    -->
    <binding timeOutMilliseconds="120000" clientId="" uploadBatchSize="200"/>
    <!-- Config to explicity set the System.Net.ServicePointManager.SecurityProtocol -->
    <securityProtocols>
      <securityProtocol securityProtocolType="Tls" />
      <securityProtocol securityProtocolType="Tls11" />
      <securityProtocol securityProtocolType="Tls12" />
    </securityProtocols>
    <!-- Speedup Keyprefix lookups for known values -->
    <keyPrefixes>
      <add key="Lead" value="00Q"/>
      <add key="Contact" value="003"/>
      <add key="User" value="005"/>
      <add key="Organization" value="00D"/>
    </keyPrefixes>
  </FuseIT.G4S.SalesforceConnector>
  
  <log4net>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d - %m%n"/>
        <!--<conversionPattern value="%d %-5l - %m%n" />-->
      </layout>
    </appender>

    <root>
      <priority value="ALL"/>
      <appender-ref ref="TraceAppender"/>
    </root>
  </log4net>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
